{% extends "layout.html" %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<div class="container_home">
    <div class="header_home">
        <h1>Contactos del hotel</h1>
    </div>
    <div class="main_home">
        <div class="contact-group">
            <h2>Servicio al cliente</h2>
            <button class="btn btn-success">Llamar</button>
            <button class="btn btn-danger">Mensaje</button>
        </div>
        <div class="contact-group">
            <h2>Limpieza</h2>
            <button class="btn btn-success">Llamar</button>
            <button class="btn btn-danger">Mensaje</button>
        </div>
        <div class="contact-group">
            <h2>Comida</h2>
            <button class="btn btn-success">Llamar</button>
            <button class="btn btn-danger">Mensaje</button>
        </div>
    </div>
    {% include 'TabNavigator.html' %}
</div>
{% endblock %}
