{% extends "layout.html" %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block content %}
<div class="container_home">
    <div class="header_home">
        <h1>Editar Perfil de {{ visitor['nombre'] }}</h1>
    </div>
    <div class="main_home">
        <form method="POST" action="{{ url_for('editar_invitado', dni=visitor['dni']) }}" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nombre" name="nombre" value="{{ visitor['nombre'] }}" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Apellido" name="apellido" value="{{ visitor['apellido'] }}" required>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Edad" name="edad" value="{{ visitor['edad'] }}" required>
            </div>
            <div class="form-group">
                <input type="file" class="form-control" name="foto" accept="image/*">
                <input type="hidden" name="existing_foto" value="{{ visitor['foto'] }}">
            </div>
            <button class="btn btn-secondary" type="button" onclick="location.href='{{ url_for('info_invitado', dni=visitor['dni']) }}'">No guardar</button>
            <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
        <form method="POST" action="{{ url_for('eliminar_invitado', dni=visitor['dni']) }}">
            <button class="btn btn-danger mt-3" type="submit">Eliminar invitado</button>
        </form>
    </div>
    {% include 'TabNavigator.html' %}
</div>
{% endblock %}
