{% extends "layout.html" %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
<div class="container_home">
    <div class="header_home">
        <h1>Editar Perfil de Empleado</h1>
    </div>
    <div class="main_home">
        <form method="POST" action="{{ url_for('editar_empleado', codigo_empleado=empleado.codigo_empleado) }}" enctype="multipart/form-data">
            <input type="text" placeholder="Nombre" name="nombre" value="{{ empleado.nombre }}" required>
            <input type="text" placeholder="Apellido" name="apellido" value="{{ empleado.apellido }}" required>
            <input type="text" placeholder="DNI" name="dni" value="{{ empleado.dni }}" required>
            <input type="email" placeholder="Email" name="email" value="{{ empleado.email }}" required>
            <input type="text" placeholder="Cargo" name="cargo" value="{{ empleado.cargo }}" required>
            <input type="file" name="foto">
            <input type="hidden" name="existing_foto" value="{{ empleado.foto }}">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn btn-secondary" type="button" onclick="location.href='{{ url_for('info_empleado', codigo_empleado=empleado.codigo_empleado) }}'">Cancelar</button>
        </form>
    </div>
    {% include 'TabNavigator2.html' %}
</div>
{% endblock %}
